.subscription {
  width: 200px;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(201, 216, 226, 0.5);
  border-radius: 15px;
  padding: 56px 10px 35px;
  margin: 16px;
  cursor: pointer;

  font-family: "Titillium Web", sans-serif;

  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.1); //translateY(0.5rem);
  }
}

.icon {
  max-width: 100%;

  img {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }
}

.type h3 {
  font-size: 1.2rem;
  margin: 25px 0px 5px;
}

.description {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;

  .usage {
    width: 70%;
    height: 20px;
    margin: 0 auto;
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    &:first {
      padding-top: 4px;
    }

    &:last-child {
      border-bottom: none;
    }

    img {
      height: 22px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
