:host {
  flex: 1 1 auto;
}

.offer-detail {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .title {
    flex: 5 5 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: center;
  }

  .subscriptions {
    flex: 5 5 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .back {
    flex: 1 1 auto;
    align-self: center;
    margin: 12px;
    outline: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      height: 32px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
