.offer {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  justify-content: space-around;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(201, 216, 226, 0.5);
  border-radius: 15px;
  padding: 0 10px;
  margin: 16px;
  cursor: pointer;
  outline: none;

  font-family: "Titillium Web", sans-serif;
  font-size: 1.3em;

  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .name {
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
  }
}
