html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f7f7f7;
  margin: 0;
}

* {
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  color: #999;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.toolbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px rgba(201, 216, 226, 0.5);
  color: white;

  img {
    margin: 0 16px;
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
