:host {
  flex: 1 1 auto;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .title {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  app-offer-list {
    flex: 1 1 auto;
  }
}
